$color-white:#fff;
$color-black:#000;

$color-primary:rgb(240, 145, 56);
$color-primary-dark: rgb(235, 161, 24);
$color-primary-light: rgb(236, 223, 103);

$color-background: #fff;
// $color-secondary:
// $color-secondary-dark:

// $color-tertiary:
// $color-tertiary-dark:
