$color-white:#fff;
$color-black:#000;

$color-primary:rgb(240, 145, 56);
$color-primary-dark: rgb(235, 161, 24);
$color-primary-light: rgb(241, 233, 157);

$color-secondary:rgb(87, 83, 83);
$color-secondary-dark:#333;
$color-secondary-light:rgb(136, 130, 130);


// $color-tertiary:
// $color-tertiary-dark:
