$color-white:#fff;
$color-black:#000;

$color-primary:rgb(96, 96, 204);
$color-primary-dark: rgb(236, 183, 85);
$color-primary-light: rgb(196, 196, 235);

$color-background: aqua;
// $color-secondary:
// $color-secondary-dark:

// $color-tertiary:
// $color-tertiary-dark:
