    <footer class="footer">
                <div class="footer_about">
                    <h4 class="footer_heading">About Ubiquitous</h4>
                    <p class="footer_about-para">
                        Training Institute Overview Ubiquitous i Technologies Ubiquitous i Technologies (Pronounced: Ubiquitous) is a leading software training institute providing Software Training, Project Guidance, IT Consulting and Technology Workshops. Using our enhanced global software training delivery methodology,
                    </p>
                </div>

    <!--
                <div class="footer_interview">
                    <h4 class="footer_heading">INTERVIEW QUESTIONS</h4>
                    <hr color="white" height="1px">
                    
                    <div class="footer_content">
                        <a href="#" class="footer_link">DevOps Interview Questions</a><br>
                        <a href="#" class="footer_link">AngularJS Interview Questions</a><br>
                        <a href="#" class="footer_link">Java Interview Questions</a><br>
                        <a href="#" class="footer_link">HTML Interview Questions</a><br>
                        <a href="#" class="footer_link">JavaScript Interview Questions</a><br>
                        <a href="#" class="footer_link">Advanced Java Interview Questions</a><br>
                        <a href="#" class="footer_link">HTML5 and CSS Interview Questions</a><br>
                    </div>
                </div>
    -->
                <div class="footer_bangalore">
                    <h4 class="footer_heading">MAIN CAMPUS</h4>
                    <hr color="white" height="1px">

                    <!--<div class="footer_content">
                        Address: 2nd Floor, Durga Bhavani Plaza,<br>
                        Ameerpet, Hyderabad<br>
                        Phone : 040-2374 6666<br>
                            &emsp;&emsp;&emsp;&ensp;040-2373 4842<br>
                        Email : info@Ubiquitousit.com<br>
                        For "Online Training"<br>
                        Call/Whatsapp: +91-8179191999<br>
                        Email: online@Ubiquitousit.com -->
                        <div id="map1"></div>
                    <!--</div> -->
                </div>
<!--
                <div class="footer_branch">
                    <h4 class="footer_heading">BRANCH CAMPUS</h4>
                    <hr color="white" height="1px">

                    <div id="map2"></div>
                    
                    <div class="footer_content">
                        2nd Floor Plot No.172 & 173,<br>
                        Above Axis Bank, Behind PTC Bus Stop,<br>
                        OMR, Thoraipakkam,<br>
                        Chennai, Tamil Nadu 600097<br>
                        Phone: 95660 42345 / 95660 42845<br>
                        Email:chennai@Ubiquitousit.com
                    </div>
                    
                </div>-->
    </footer>
    <section class="copyright">
        2020 Ubiquitous i Technologies

        <a href="#" title="Go to Top">
            <i class="fas fa-chevron-circle-up fa-4x"></i>
        </a>
    </section> 
        <!-- ======================= JS FILES ======================= -->
        <script src="js/jquery-3.5.0.min.js"></script>
        <script type="text/javascript">jssor_1_slider_init();</script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwJn19vJ4bT3oy-M_bTAqfzeKnP8jV4_8&callback=initMap&libraries=&v=weekly"
                defer>
        </script>
    </body>
</html>