<footer class="footer">
                <figure>
                    <img src="img/logo.jpg" alt="LOGO" class="footer_logo">
                </figure>
                
                <div class="footer_content">
                    <ul class="footer_list">
                        <li class="footer_item"><a href="#home" class="footer_link">Home</a></li>
                        <li class="footer_item"><a href="#about" class="footer_link">About</a></li>
                        <li class="footer_item"><a href="#skills" class="footer_link">Skills</a></li>
                        <li class="footer_item"><a href="#works" class="footer_link">Works</a></li>
                        <li class="footer_item"><a href="#form" class="footer_link">Register</a></li>
                    </ul>
                    <p class="footer_para">
                        © Copyright 2020 by Rahul Kumar. This website is make only for me to represent myself via online medium to my client.
                    </p>
                </div>

                <div class="footer_icon">
                    <a href="https://www.facebook.com/IMjustRK" class="footer_icon-logo">
                        <svg class="menu_icon">
                            <use xlink:href="img/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                    <a href="https://twitter.com/Rk_riderking" class="footer_icon-logo">
                        <svg class="menu_icon">
                            <use xlink:href="img/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/rk_terrific_rider/" class="footer_icon-logo">
                        <svg class="menu_icon">
                            <use xlink:href="img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                    <a href="https://github.com/rkrider" class="footer_icon-logo">
                        <svg class="menu_icon">
                            <use xlink:href="img/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/rahul-kumar-518418193/" class="footer_icon-logo">
                        <svg class="menu_icon">
                            <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
            </footer>
    
        </div>
        <!-- ======================= JS FILES ======================= -->
        <script src="js/jquery-3.5.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <script async src="js/script.js"></script>
        <script async src="js/animation.js"></script>
    </body>
</html>