<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ubiquitous</title>
        <meta name="description" content="Top programming and software training center offering courses in Java, C++, NodeJS, Data Science & more. Register now for coding classes in Bangalore.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- ======================= CSS ======================== -->

        <link rel="stylesheet" href="/css/style.comp.css">

        <!-- ======================= JSS ======================== -->

        <script src="../../js/script.js"></script>
        <script src="https://kit.fontawesome.com/2283fe48d7.js" crossorigin="anonymous"></script>
        <script src="js/jssor.slider-28.0.0.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/imageslider.js"></script>
        
        <!-- ======================= FAVICONS ======================== -->


        <link rel="apple-touch-icon" sizes="180x180" href="/../../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/../../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/../../favicon/favicon-16x16.png">
        <link rel="manifest" href="/../../favicon/site.webmanifest">
       

    </head>
    <body>