<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Personal Portfolio</title>
        <meta name="description" content="This is my personal portfolio website, created and designed by Me.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- ======================= CSS ======================== -->

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/preloader.css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Piedra&family=Roboto:wght@300;500&family=Satisfy&display=swap" rel="stylesheet">
        
        <!-- ======================= FAVICONS ======================== -->
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
        <link rel="manifest" href="img/favicon/site.webmanifest">
        <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body>