<nav class="navbar">
            <ul class="navbar_list">
                <li class="navbar_logo">
                    <a href="/"><img src="../../img/logo-removebg-preview.png" alt="LOGO" class="nav-logo"></a>
                </li>
                <li class="navbar_item">
                    <a href="/" class="navbar_link">HOME</a>
                </li>
                <li class="navbar_item">
                    <a href="/allcourses" class="navbar_link">ALL COURSES</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">SERVICES</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">SOFTWARE TRAINING</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">PROJECTS</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">INSIGHTS</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">CAREER</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">ABOUT</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">NEW BATCHES</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_link">EVENTS</a>
                </li>
            </ul>
        </nav>
