<svg viewbox="0 0 0 0" width="0" height="0" style="display:block;position:relative;left:0px;top:0px;">
        <defs>
            <filter id="jssor_1_flt_1" x="-50%" y="-50%" width="200%" height="200%">
                <feGaussianBlur stddeviation="4"></feGaussianBlur>
            </filter>
            <radialGradient id="jssor_1_grd_2">
                <stop offset="0" stop-color="#fff"></stop>
                <stop offset="1" stop-color="#000"></stop>
            </radialGradient>
            <mask id="jssor_1_msk_3">
                <path fill="url(#jssor_1_grd_2)" d="M600,0L600,400L0,400L0,0Z" x="0" y="0" style="position:absolute;overflow:visible;"></path>
            </mask>
        </defs>
    </svg>



    <div id="jssor_1">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin">
            <img src="../../img/spin.svg" />
        </div>
        <div class="slides" data-u="slides">
            <div style="background-color:#d3890e;">
                <img data-u="image" style="opacity:0.8;" src="../../img/pb-beer-1513436-1600.jpg" />
                <div data-ts="flat" data-p="275" data-po="40% 50%" style="left:150px;top:40px;width:800px;height:300px;position:absolute;">
                    <div class="beer1" data-to="50% 50%" data-t="0">DATA</div>
                    <div class="beer2" data-to="50% 50%" data-t="1">DATA</div>
                    <div class="beer3" data-to="50% 50%" data-t="2">DATA</div>
                    <div class="beer4" data-to="50% 50%" data-t="3">DATA</div>
                    <div class="beer5" data-to="50% 50%" data-t="4">DATA</div>
                    <div data-to="50% 50%" data-t="5" class="science">SCIENCE</div>
                </div>
            </div>
            <div>
                <img data-u="image" data-src="../../img/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg" />
                <div data-ts="flat" data-p="540" data-po="40% 50%" style="left:0px;top:0px;width:1600px;height:560px;position:absolute;">
                    <div data-to="50% 50%" data-ts="preserve-3d" data-t="6" style="left:350px;top:360px;width:900px;height:500px;position:absolute;">

                        <svg viewbox="0 0 800 60" data-to="50% 50%" width="800" height="60" data-t="7" class="svg1">

                            <text fill="#454447" stroke="#ff9500" stroke-width="2" text-anchor="middle" x="400" y="60">FULL STACK
                            </text>
                        </svg>

                        <div class="webdevelopment" data-to="50% 50%" data-t="8">WEB DEVELOPMENT</div>

                        <svg class="svg2" viewbox="0 0 800 100" width="800" height="100" data-t="9">
                            <text fill="rgba(255,255,255,0.7)" stroke="#ff9500" text-anchor="middle" x="400" y="100">WITH REACTJS
                            </text>
                        </svg>

                    </div>
                </div>
            </div>
            <!--<div style="background-color:#000000;">
                <img data-u="image" style="opacity:0.8;" data-src="../../img/px-back-view-boats-couple-2612852-1600.jpg" />
                <div data-ts="flat" data-p="1080" style="left:0px;top:0px;width:1600px;height:560px;position:absolute;">
                    <svg class="svg3" viewbox="0 0 600 400" data-ts="preserve-3d" width="600" height="400" data-tchd="jssor_1_msk_3">
                        <g mask="url(#jssor_1_msk_3)">
                            <path data-to="300px -180px" fill="none" stroke="rgba(250,251,252,0.5)" stroke-width="20" d="M410-350L410-10L190-10L190-350Z" x="190" y="-350" data-t="10" style="position:absolute;overflow:visible;"></path>
                        </g>
                    </svg>
                    <svg class="svg4" viewbox="0 0 800 72" data-to="50% 50%" width="800" height="72" data-t="11">
                        <text fill="#fafbfc" text-anchor="middle" x="400" y="72">GULF MEXICO
                        </text>
                    </svg>
                    <svg class="svg5" viewbox="0 0 800 72" data-to="50% 50%" width="800" height="72" data-t="12">
                        <text fill="#fafbfc" text-anchor="middle" x="400" y="72">ENJOY SAILBOAT
                        </text>
                    </svg>
                </div>
            </div>
            <div>
                <img data-u="image" data-src="../../img/yamamoto.jpg" />
                <div data-ts="flat" data-p="1080" style="left:0px;top:0px;width:1600px;height:560px;position:absolute;">
                    <div data-to="50% 50%" data-t="13" style="left:100px;top:-20px;width:800px;height:200px;position:absolute;opacity:0;">
                        <div class="creation">CREATION</div>
                        <div class="creative-people">for creative peoples</div>
                    </div>
                </div>
            </div> -->
            <!-- <div>
                <img data-u="image" data-src="../../img/wine-1600.jpg" />
                <div data-ts="flat" data-p="1080" style="left:0px;top:0px;width:1600px;height:560px;position:absolute;">
                    <div class="european" data-to="50% 50%" data-t="14">European Royal<br />Has a long history.</div>
                    <img data-to="50% 50%" data-t="15" style="left:780px;top:350px;width:344px;height:157px;position:absolute;opacity:0;max-width:344px;" data-src="../../img/wine-atlantic-ocean.png" />
                    <img data-to="50% 50%" data-t="16" style="left:1330px;top:8px;width:172px;height:131px;position:absolute;opacity:0;max-width:172px;" data-src="../../img/wine-badge.png" />
                </div>
            </div> -->
        </div><a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">slider html</a>


        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb132" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:12px;height:12px;">
                <svg class="svg6" viewbox="0 0 16000 16000">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051 arrowleft" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg class="svg7" viewbox="0 0 16000 16000">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051 arrowright" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg class="svg8" viewbox="0 0 16000 16000">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>




