<section class="main_body">
    <%- include('partials/header.ejs')  %>

    <div style="text-align:center; padding:10rem; height:auto; font-size:3rem">
        <h1>ALL COURSES</h1>
        <br>
        <h1>UNDER PROCESS</h1>
        <br>
        <h1>...</h1>
    </div>

        
    <%- include('partials/footer.ejs') %>
</section>  <!-- MAIN BODY ENDED-->