<%- include('partials/header.ejs')  %>
<%- include('partials/navigation.ejs') %>

    <section class="section-allcourses" id="section-allcourses">
                <div class="heading-allcourses">
                    <h2>All Courses</h2>
                    <p>Courses for all stages, with equal focus on theory and implementation</p>
                 </div>

                <!-- Data and Development -->

                
                <div class="courses-wrap">
                    <h1>Data and Development</h1>

                    <div class="row">
                    <div class="col-1-of-3">
                       <div class="card">
                           <div class="card__side card__side--front">
                               <div class="card__picture card__picture--1">
                                    &nbsp;
                               </div>
                               <h4 class="card__heading">
                                   <span class="card__heading-span card__heading-span--1">
                                        Data Science with Python
                                   </span>
                               </h4>
                               <div class="card__details">
                                    <ul>
                                        <li>28 hours</li>
                                        <li>90 Article</li>
                                        <li>100 Downloadable Resources</li>
                                        <li>Deep Learning</li>
                                        <li>Start from scratch</li>
                                    </ul>
                               </div>
                           </div>
                           <div class="card__side card__side--back card__side--back-1">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">₹1000</p>
                                    </div>
                                    <a href="allcourses/datascience" class="btn btn--white">Show More</a>
                                </div>
                           </div>
                       </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                 <div class="card__picture card__picture--2">

                               </div>
                               <h4 class="card__heading">
                                   <span class="card__heading-span card__heading-span--2">
                                        full stack web Development
                                   </span> 
                               </h4>
                               <div class="card__details">
                                    <ul>
                                        <li>28 hours</li>
                                        <li>90 Article</li>
                                        <li>100 Downloadable Resources</li>
                                        <li>Deep Learning</li>
                                        <li>Start from scratch</li>
                                    </ul>
                               </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">₹1000</p>
                                    </div>
                                    <a href="#popup" class="btn btn--white">Show More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--3">

                                </div>
                                <h4 class="card__heading">
                                   <span class="card__heading-span card__heading-span--3">
                                        machine learning and deep learning
                                   </span>
                                   
                               </h4>
                                <div class="card__details">
                                     <ul>
                                        <li>28 hours</li>
                                        <li>90 Article</li>
                                        <li>100 Downloadable Resources</li>
                                        <li>Deep Learning</li>
                                        <li>Start from scratch</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-3">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">₹1000</p>
                                    </div>
                                    <a href="#popup" class="btn btn--white">Show More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Foundation, Algorithmic & Advanced -->

                <div class="courses-wrap">
                    <h1>Foundation, Algorithmic & Advanced</h1>

                    <div class="row">
                    <div class="col-1-of-3">
                       <div class="card">
                           <div class="card__side card__side--front">
                               <div class="card__picture card__picture--1">
                                    &nbsp;
                               </div>
                               <h4 class="card__heading">
                                   <span class="card__heading-span card__heading-span--1">
                                        C++ foundation with DS & Algo
                                   </span>
                               </h4>
                               <div class="card__details">
                                    <ul>
                                        <li>28 hours</li>
                                        <li>90 Article</li>
                                        <li>100 Downloadable Resources</li>
                                        <li>Deep Learning</li>
                                        <li>Start from scratch</li>
                                    </ul>
                               </div>
                           </div>
                           <div class="card__side card__side--back card__side--back-1">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">₹1000</p>
                                    </div>
                                    <a href="#popup" class="btn btn--white">Show More</a>
                                </div>
                           </div>
                       </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                 <div class="card__picture card__picture--2">

                               </div>
                               <h4 class="card__heading">
                                   <span class="card__heading-span card__heading-span--2">
                                        Java foundation with DS & Algo
                                   </span> 
                               </h4>
                               <div class="card__details">
                                    <ul>
                                        <li>28 hours</li>
                                        <li>90 Article</li>
                                        <li>100 Downloadable Resources</li>
                                        <li>Deep Learning</li>
                                        <li>Start from scratch</li>
                                    </ul>
                               </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">₹1000</p>
                                    </div>
                                    <a href="#popup" class="btn btn--white">Show More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--3">

                                </div>
                                <h4 class="card__heading">
                                   <span class="card__heading-span card__heading-span--3">
                                        competitive programming course
                                   </span>
                                   
                               </h4>
                                <div class="card__details">
                                     <ul>
                                        <li>28 hours</li>
                                        <li>90 Article</li>
                                        <li>100 Downloadable Resources</li>
                                        <li>Deep Learning</li>
                                        <li>Start from scratch</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-3">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">₹1000</p>
                                    </div>
                                    <a href="#popup" class="btn btn--white">Show More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                 

                <div class="discover-btn">
                    <a href="#" class="btn btn--green">Discover all Courses</a>
                </div>
             </section>

        
<%- include('partials/footer.ejs') %>
