<%- include('partials/header.ejs')  %>
<%- include('partials/navigation.ejs') %>
 
<section class="section-dataScience">
    <div class="section-dataScience_image">
        <h1>Data science <br> with python</h1>
        <div>
            <a href="#">highlight</a> &nbsp;/
            <a href="#">content</a>&nbsp;/
            <a href="#">faq</a>
        </div>
        
    </div>
    <div class="section-dataScience_overview">
        <h1>Overview</h1>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <br> <br>
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </p>
        <div>
            <a href="#">register</a>
        </div>
    </div>
    <div class="section-dataScience_highlight">
        <div>
            <div>
                <i class="fas fa-edit fa-5x"></i>
            </div>
            <h1>Start from scratch</h1>
            <p>Begins with Introduction to Python and do not requires to have prior understanding of python and machine learning. Course will create good foundation for becoming data science engineer.</p>

        </div>

        <div>
            <div>
                <i class="fas fa-satellite-dish fa-5x"></i>
            </div>
            <h1>Work on LIVE Projects</h1>
            <p>This course covers a lot of basic & advanced projects like face-recognition, sentiment analysis, recommendation system, coversational engine, AI music generator and much more.</p>

        </div>

        <div>
            <div>
                <i class="fas fa-compass fa-5x"></i>
            </div>
            <h1>Deep Learning</h1>
            <p>We will cover the latest advanced in deep learning - a growing field in Machine Learning.Deep learning applications are being used in computer vision, automatic speech recognition, natural language processing, audio recognition and bioinformatics</p>

        </div>

        <div>
            <div>
                <i class="fas fa-cubes fa-5x"></i>
            </div>
            <h1>Advanced Topics</h1>
            <p>Many of the topics are advanced, up-to-date and require great patience and coding skills.</p>

        </div>
    </div>
    <div class="section-dataScience_courseContent">
        <h1>course content</h1>
    </div>

</section>

<%- include('partials/footer.ejs')  %>