*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.main_body {
  height: auto; }

/*
.header{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-template-rows: auto;

    @media only screen and (max-width: 500px){
        grid-template-columns: repeat(auto-fit, minmax(20rem,50rem));
    }
    
}

.logo_link{
   width: 100%;
}
.logo_icon{
    width: 90%;
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%,1fr));;
    padding: 3rem;
    justify-items: center;
    font-size: 1.5rem;

    &_num{
        padding: 2rem;
    }
}
*/
ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ecb755;
  position: relative; }
  @media only screen and (max-width: 1250px) {
    .container {
      padding: 1rem 0.5rem; } }

.logo-container {
  flex: 0 0 10%;
  display: flex;
  align-items: center; }

.logo {
  width: 100%;
  border-radius: 5rem; }

.nav-btn {
  flex: 1;
  display: flex; }

.nav-links {
  flex: 2; }

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: -1; }

.btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: 1.4rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase; }

.btn.solid, .btn.transparent:hover {
  background-color: #fff;
  color: #ecb755; }

.btn.transparent, .btn.solid:hover {
  background-color: #fff;
  color: #ecb755; }

.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-link {
  position: relative; }

.nav-link > a {
  line-height: 3rem;
  color: #fff;
  padding: 0.8rem .8rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s; }

.nav-link > a > i {
  margin-left: .2rem; }

.nav-link:hover > a {
  transform: scale(1.1); }

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s; }

.dropdown ul {
  position: relative;
  display: inline-block; }

.dropdown-link > a {
  display: flex;
  background-color: #c4c4eb;
  color: #000;
  padding: .5rem 1rem;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s; }

.dropdown-link:hover > a {
  background-color: #fff;
  color: #000; }

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #efefef; }

.dropdown-link i {
  transform: rotate(-90deg); }

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: 1; }

.dropdown-link:first-child:hover ~ .arrow {
  background-color: #ecb755; }

.dropdown-link {
  position: relative; }

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px); }

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px; }

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto; }

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end; }

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: .5s; }

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: .5s; }

.hamburger-menu div:before {
  transform: translateY(-7px); }

.hamburger-menu div:after {
  transform: translateY(7px); }

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none; }

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: #fff; }

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg); }

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg); }

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

@media (max-width: 920px) {
  .dropdown {
    width: 400%  !important;
    overflow: hidden; }
  .dropdown ul {
    width: 100%; }
  .hamburger-menu-container {
    display: flex; }
  #check {
    display: block; }
  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #ecb755;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s; }
  #check:checked ~ .nav-btn {
    transform: translateX(0); }
  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation 0.5s ease forwards var(--i); }
  .nav-links {
    flex: initial;
    width: 100%; }
  .nav-links > ul {
    flex-direction: column; }
  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px); }
  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem; }
  .nav-link:hover > a {
    transform: scale(1);
    background-color: aqua;
    color: #ecb755; }
  .dropdown, .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #ecb755;
    display: none; }
  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block; }
  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg); }
  .dropdown-link > a {
    background-color: #ecb755;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1; }
  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem; }
  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem; }
  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none; }
  .arrow {
    z-index: 1;
    background-color: #ecb755;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s; }
  .nav-link:hover .arrow {
    background-color: #ecb755; }
  .dropdown .dropdown .arrow {
    display: none; }
  .dropdown-link:hover > a {
    background-color: #fff;
    color: #ecb755; }
  .dropdown-link:first-child:hover ~ .arrow {
    background-color: #ecb755; }
  .nav-link > a > i {
    font-size: 1.4rem;
    transform: rotate(-90deg);
    transition: .7s; }
  .dropdown i {
    font-size: 1.4rem;
    transition: .7s; }
  .log-sign {
    flex: 0 0 15%;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px); } }

.footer {
  background-color: #ecb755;
  height: auto;
  font-size: 1.4rem;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.4rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 2rem;
  color: #fff; }
  .footer_heading {
    padding: 0.5rem; }
  .footer_content {
    padding: 0.5rem;
    margin-top: 1rem; }
  .footer_about-para {
    margin-top: 1rem; }
  .footer_link:link, .footer_link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    color: inherit; }

.copyright {
  box-shadow: 1rem 6rem 50rem black;
  padding: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  background-image: linear-gradient(#ecb755, #6060cc, #ecb755); }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

.navbar {
  background-color: black; }
  .navbar_list {
    list-style: none;
    display: grid;
    grid-template-columns: 10rem repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: auto; }
  .navbar_item {
    display: inline-block;
    font-size: 1.3rem;
    border-left: 1px solid #61615c;
    color: white;
    text-align: center; }
    .navbar_item:first-child {
      border: none; }
    .navbar_item:hover {
      color: black;
      background-color: white; }
  .navbar_link:link, .navbar_link:visited {
    text-decoration: none;
    color: inherit;
    padding: 2rem 2rem;
    margin-top: 1rem; }
  .navbar_link:active, .navbar_link:hover {
    text-decoration: none;
    color: inherit; }

.nav-logo {
  width: 10rem;
  height: 5rem;
  color: transparent;
  background-color: yellow; }

.imageSlider {
  z-index: -100;
  height: 70vh; }
  @media only screen and (max-width: 1000px) {
    .imageSlider {
      height: auto; } }

.mySlides {
  display: none; }

.slideimage {
  vertical-align: middle;
  width: 100%; }

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: -10; }

/* Caption text */
/* Number text (1/3 etc) */
/* The dots/bullets/indicators */
.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px; } }

.features {
  padding: 3rem;
  background-color: aqua; }
  .features_heading-title {
    font-size: 2.2rem;
    padding: 1rem 0; }
  .features_heading-para {
    font-size: 1.6rem;
    padding: 1rem 0; }
  .features_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    text-align: center; }

.content_wrap {
  padding: 2rem; }
  .content_wrap-icon {
    padding: 3rem;
    border-radius: 50%;
    border: 1rem solid #c4c4eb;
    display: inline-block;
    transition: all 0.5s; }
    .content_wrap-icon:hover i {
      color: orange;
      transform: scale(1.3);
      transition: all 0.5s; }
  .content_wrap-heading {
    font-size: 2rem;
    padding: 1rem; }
  .content_wrap-para {
    font-size: 1.4rem;
    font-style: italic; }

.icon {
  color: #6060cc; }

.courses {
  padding: 3rem; }
  .courses_heading {
    font-size: 1.5rem;
    padding: 1rem; }
  .courses_slider {
    display: flex;
    overflow: scroll; }

.image_wrap {
  width: auto;
  height: auto;
  margin: 0.5rem; }
  .image_wrap-img {
    width: 20rem;
    height: 20rem; }
