*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 85rem) {
    html {
      font-size: 50%; } }

body {
  font-weight: 400;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

::selection {
  background-color: orange;
  color: #3a3737; }

.ml8 {
  position: relative;
  top: 0;
  left: 0; }

h1.ml8 {
  font-weight: 900;
  font-size: 4.5em;
  color: #fff;
  width: 3em;
  height: 3em; }

.ml8 .letters-container {
  position: absolute;
  left: 2.7rem;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em; }

.ml8 .letters {
  font-family: Roboto;
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em; }

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em; }

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0; }

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em; }

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1; }

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 2.3em;
  height: 2.3em; }

@keyframes image {
  0% {
    outline-offset: 0.3rem; }
  25% {
    outline-offset: 0.6rem; }
  50% {
    outline-offset: 0.9rem; }
  75% {
    outline-offset: 0.6rem; }
  100% {
    outline-offset: 0.3rem; } }

.myinfo {
  border-left: 5px solid orange;
  padding-left: 30px;
  flex: 0 0 50%; }
  @media only screen and (max-width: 50rem) {
    .myinfo {
      padding-left: 1rem; } }

@media only screen and (max-width: 50rem) {
  .small_myinfo {
    margin-left: -5rem; } }

.heading-secondary {
  color: #fff;
  font-size: 2rem;
  font-weight: 100; }
  @media only screen and (max-width: 50rem) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-primary {
  color: #fff;
  font-weight: 100;
  font-size: 9rem;
  margin-top: -1.5rem; }
  @media only screen and (max-width: 50rem) {
    .heading-primary {
      font-size: 5rem;
      margin-top: -0.5rem; } }

.heading-1 {
  font-family: 'Roboto', cursive;
  font-size: 5rem;
  background-image: linear-gradient(#535050 0%, #535050 50%, #272525 50%);
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 2rem;
  margin-bottom: -15rem; }
  @media only screen and (max-width: 50rem) {
    .heading-1 {
      font-size: 3.5rem; } }

/* width */
::-webkit-scrollbar {
  width: 0rem; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem; }

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, white 0%, black 20%, white 40%, black 60%, white 80%, black 100%);
  border-radius: 1rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to right, black 0%, white 20%, black 40%, white 60%, black 80%, white 100%); }

header {
  background-image: linear-gradient(to right, #535050 0%, #535050 70%, #3a3737 70%);
  height: 100vh;
  overflow: hidden; }

/* ----------------------------- HEADER ------------------------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto; }
  @media only screen and (max-width: 50rem) {
    .navbar {
      margin-bottom: 5rem; } }
  .navbar_link {
    text-decoration: none;
    margin-top: 20px;
    padding: 1rem; }
  .navbar_logo {
    width: 10%;
    border-radius: 30%;
    display: inline-block;
    transition: 1s; }
    .navbar_logo:hover {
      transform: scale(1.3);
      background-image: linear-gradient(#535050, #3a3737);
      box-shadow: 0 0.5rem 0.5rem #000; }

.menu_icon {
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  fill: #fff;
  display: inline-block;
  background-image: linear-gradient(to bottom right, #3a3737 0%, #3a3737 50%, #535050 50%); }

.nav_icon {
  position: fixed;
  z-index: 10;
  border: 2px solid #000;
  border-radius: 1rem;
  transition: 0.3s;
  background-image: linear-gradient(to bottom right, #3a3737 0%, #3a3737 50%, #535050 50%); }
  .nav_icon:hover {
    transform: scale(1.5);
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem #000;
    background-image: linear-gradient(to bottom right, #3a3737 0%, #3a3737 50%, #535050 50%); }

/* -------------------------- ABOUT----------------------- */
.intro {
  display: flex;
  align-items: center;
  transform: translateX(20%);
  margin-right: 25%;
  margin-top: 5%; }
  @media only screen and (max-width: 76.8rem) {
    .intro {
      display: flex; } }
  @media only screen and (max-width: 50rem) {
    .intro {
      display: block; } }

.developer_link {
  margin-top: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid orange;
  color: orange;
  font-size: 3.8rem; }
  @media only screen and (max-width: 50rem) {
    .developer_link {
      font-size: 3rem; } }

.contact {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-top: 8rem; }
  @media only screen and (max-width: 50rem) {
    .contact {
      margin-top: 3rem; } }

.contact_link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem; }

.reach {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 10px;
  padding: 5px;
  border-left: 2px solid orange;
  height: 30px; }

.facebook {
  width: 30px;
  height: 30px;
  margin-right: 10px; }

.twitter {
  width: 40px;
  height: 30px; }

.btn {
  padding: 8px 10px;
  font-weight: 800;
  background-color: orange; }

.mypic {
  flex: 1; }

.mypic_img {
  width: 80%;
  outline: 2rem solid orange;
  margin-left: 5rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 76.8rem) {
    .mypic_img {
      width: 90%;
      outline: 2rem solid yellowgreen;
      margin-left: 5rem;
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 50rem) {
    .mypic_img {
      width: 90%;
      margin: 5rem 0 0 0;
      outline-offset: -1rem; } }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #535050 0%, #535050 50%, #3a3737 50%);
  overflow: hidden;
  font-size: 62.5%;
  position: relative; }
  .navigation_list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-image: linear-gradient(to bottom right, #3a3737 0%, #3a3737 50%, #535050 50%); }
  .navigation_list .navigation_item {
    list-style: none;
    font-size: 3rem;
    text-align: center;
    padding: 0.2rem;
    font-family: 'Roboto', cursive; }
    @media only screen and (max-width: 50rem) {
      .navigation_list .navigation_item {
        font-size: 3.7rem; } }
  .navigation_list .navigation_item::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 23rem;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 2rem;
    transition: 0.5s;
    white-space: nowrap;
    font-family: 'Roboto', cursive; }
    @media only screen and (max-width: 50rem) {
      .navigation_list .navigation_item::before {
        font-size: 15rem; } }
  .navigation_list .navigation_item:hover::before {
    opacity: 0.2;
    letter-spacing: 0rem; }
  .navigation_list .navigation_item .navigation_link {
    display: inline-block;
    position: relative;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #535050 0%, #535050 50%, #3a3737 50%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1; }
  .navigation_list:hover .navigation_item .navigation_link {
    opacity: 0; }
  .navigation_list .navigation_item .navigation_link:hover {
    transform: scale(1.4);
    z-index: 10;
    background-color: #ff3f81;
    opacity: 1; }
  .navigation_list .navigation_item .navigation_link::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10rem;
    width: 8rem;
    height: 10rem;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skewX(35deg);
    transition: 0s; }
  .navigation_list .navigation_item .navigation_link:hover::before {
    left: calc(100% + 10rem);
    transition: 0.5s; }

.cross_icon {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 5rem;
  right: 12rem; }
  @media only screen and (max-width: 50rem) {
    .cross_icon {
      top: 8rem;
      right: 10rem; } }
  .cross_icon-small {
    padding: 0.5rem;
    width: 5rem;
    height: 5rem;
    background-color: transparent; }

.about {
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  height: 100vh;
  overflow: hidden; }
  @media only screen and (max-width: 102.4rem) {
    .about {
      height: 100vh; } }
  @media only screen and (max-width: 50rem) {
    .about {
      padding: 5rem;
      height: auto; } }
  .about_data {
    display: flex; }
  .about_pic {
    flex: 0 0 40%;
    position: relative; }
    @media only screen and (max-width: 50rem) {
      .about_pic {
        display: none; } }
    .about_pic-me {
      width: 55%;
      height: auto;
      position: absolute;
      top: -13%;
      left: 30%;
      transition: 0.5s; }
      @media only screen and (max-width: 102.4rem) {
        .about_pic-me {
          top: 0%;
          left: 30%; } }
      .about_pic-me:hover {
        outline: 2rem solid orange;
        transform: scale(0.9);
        animation: image 0.5s infinite; }
  .about_bio {
    flex: 1;
    padding-right: 6rem; }
    .about_bio-para {
      margin-top: 2rem;
      font-size: 2.3rem;
      font-family: 'Roboto', cursive;
      font-weight: 300;
      color: #fff;
      line-height: 1.5; }
      .about_bio-para::first-letter {
        font-size: 4rem; }
      @media only screen and (max-width: 50rem) {
        .about_bio-para {
          font-size: 1.7rem; } }

.para_highlight {
  font-size: 2.7rem;
  text-decoration: underline;
  letter-spacing: 1.5px;
  font-family: 'Roboto', cursive;
  font-weight: 900; }

.sign {
  margin-top: 1.5rem;
  filter: invert(51) brightness(100);
  width: 25%;
  transition: 0.2s; }
  .sign:hover {
    filter: invert(1);
    transform: skewX(-10deg); }

.section-skills {
  background-image: linear-gradient(to right, rgba(106, 180, 37, 0.573), rgba(158, 167, 32, 0.5)), url("https://cdn.pixabay.com/photo/2015/09/05/20/02/coding-924920_1280.jpg");
  background-size: cover;
  padding: 5rem 10rem; }
  @media only screen and (max-width: 50rem) {
    .section-skills {
      padding: 2rem 2rem 5rem 2rem; } }

.skills {
  font-size: 2rem; }
  .skills_coding {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 2rem;
    overflow: scroll; }
  .skills_tech {
    overflow: scroll;
    margin-top: 2rem;
    box-shadow: 0 1rem 3rem #000;
    padding: 1rem; }
  .skills_thumbnail {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 0.5rem solid #a17e3c;
    border-radius: 1rem;
    transition: 0.2s;
    margin: 0 1rem 0 1rem; }
    @media only screen and (max-width: 50rem) {
      .skills_thumbnail {
        padding: 1rem; } }
  .skills_logo {
    width: 12rem;
    height: 12rem;
    transition: 0.2s; }
    @media only screen and (max-width: 50rem) {
      .skills_logo {
        width: 7rem;
        height: 7rem; } }
    .skills_logo:hover {
      transform: scale(0.8); }
  .skills_title {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Piedra', cursive; }
    @media only screen and (max-width: 50rem) {
      .skills_title {
        font-size: 1.5rem; } }

.learnMore:link,
.learnMore:visited {
  margin-top: 1rem;
  color: orangered;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.4rem 0.7rem;
  border-bottom: 1px solid orangered;
  transition: 0.5s; }
  @media only screen and (max-width: 50rem) {
    .learnMore:link,
    .learnMore:visited {
      font-size: 1rem;
      display: inline-block;
      padding: 0; } }

.learnMore:hover,
.learnMore:active {
  background-color: orangered;
  color: #fff;
  box-shadow: 0 0.5rem 0.5rem #000; }

.section-works {
  background-color: black;
  padding: 2rem; }
  @media only screen and (max-width: 50rem) {
    .section-works {
      height: 85vh;
      overflow: scroll; } }

.works_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 2rem 2rem 4rem 2rem; }
  @media only screen and (max-width: 50rem) {
    .works_container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem; } }

.work_link {
  position: relative;
  text-align: center;
  transition: 0.5s; }

.work_title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #535050;
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  padding: 18% 10%;
  font-size: 2.5rem;
  transition: 0.5s;
  border-radius: 0.5rem;
  display: none; }
  @media only screen and (max-width: 50rem) {
    .work_title {
      padding: 20%;
      font-size: 2rem; } }

.work_link:hover .work_title {
  display: block;
  background-image: linear-gradient(red, black, red); }

.work_link:hover .work_pic {
  transform: scale(0.9);
  overflow: hidden; }

.work_pic {
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.5s; }

.footer {
  background-color: #3a3737;
  width: 100%;
  padding: 5rem 5rem 1rem 5rem;
  font-size: 1.8rem;
  color: #fff; }
  @media only screen and (max-width: 120rem) {
    .footer {
      padding: 5rem 4rem 1rem 4rem; } }
  .footer_logo {
    width: 7rem;
    border-radius: 1rem; }
  .footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    margin: 0 2rem; }
    @media only screen and (max-width: 85rem) {
      .footer_content {
        flex-direction: column; } }
  .footer_list {
    display: flex;
    flex: 0 0 50%; }
    @media only screen and (max-width: 85rem) {
      .footer_list {
        padding: 1rem 0rem 0.2rem 0rem; } }
  .footer_item {
    display: inline-block;
    list-style: none;
    padding: 2rem 1.5rem 1.2rem 1.5rem; }
    @media only screen and (max-width: 120rem) {
      .footer_item {
        padding: 1rem 0.5rem 0.2rem 0.5rem; } }
    @media only screen and (max-width: 85rem) {
      .footer_item {
        padding: 1rem 0rem 0.2rem 0rem; } }
  .footer_link:visited, .footer_link:link {
    padding: 2rem 1.5rem 1rem 1.5rem;
    text-decoration: none;
    color: white;
    transition: 0.2s; }
  .footer_link:hover, .footer_link:active {
    color: aqua;
    font-size: 2rem;
    border-bottom: 2px solid orange;
    font-weight: 500; }
  .footer_para {
    text-align: center;
    flex: 1;
    padding: 1rem 4rem; }
  .footer_icon .menu_icon {
    background-image: none;
    width: 3.5rem;
    fill: #fff;
    transition: 0.2s; }
    .footer_icon .menu_icon:hover {
      transform: scale(1.5); }
  .footer_icon {
    text-align: center; }
    .footer_icon-logo {
      margin: 0 0.5rem; }

figure {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem; }

.section-form {
  padding: 8rem 5rem;
  margin-top: -3rem;
  margin-bottom: -3rem;
  font-size: 2.5rem;
  color: white;
  background-image: linear-gradient(to right, #a09595 0%, #a09595 20%, #beb3b3 20%, #beb3b3 80%, #a09595 80%, #a09595 100%);
  transform: skewY(-2deg);
  transition: 1s; }
  .section-form:hover {
    background-image: linear-gradient(to right, #beb3b3 0%, #beb3b3 20%, #a09595 20%, #a09595 80%, #beb3b3 80%, #beb3b3 100%); }
  @media only screen and (max-width: 50rem) {
    .section-form {
      padding: 3rem 8rem; } }
  @media only screen and (max-width: 85rem) {
    .section-form {
      padding: 3rem 1rem;
      background-image: linear-gradient(to right, #a09595 0%, #a09595 10%, #beb3b3 10%, #beb3b3 90%, #a09595 90%, #a09595 100%); } }
  @media only screen and (max-width: 85rem) {
    .section-form:hover {
      background-image: linear-gradient(to right, #beb3b3 0%, #beb3b3 10%, #a09595 10%, #a09595 90%, #beb3b3 90%, #beb3b3 100%); } }

.form_container {
  width: 50%;
  margin: 0 auto; }
  .form_container-title {
    transform: skewY(2deg); }
  @media only screen and (max-width: 85rem) {
    .form_container {
      width: 70%; } }
  @media only screen and (max-width: 50rem) {
    .form_container {
      width: 90%; } }

.form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  border-radius: 2rem;
  transform: skewY(2deg); }
  @media only screen and (max-width: 50rem) {
    .form {
      margin-top: 3rem; } }
  .form > * {
    margin: 0.5rem auto; }
  .form_button {
    font-size: 2rem;
    width: 60%;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: orange;
    box-shadow: 0 5px 5px #000; }
    .form_button:hover {
      background-color: orangered;
      cursor: pointer; }
    .form_button:active {
      transform: translateY(0.1rem);
      box-shadow: 0 2px 2px #000;
      outline: none; }

input {
  padding: 0.8rem;
  width: 65%;
  border: none;
  font-size: 1.8rem;
  border-bottom: 1.5px solid #535050;
  outline: none;
  transition: 0.2s; }

input:focus {
  box-shadow: 0 2px 5px #000;
  transform: scale(1.05); }

textarea {
  padding: 0.8rem;
  font-size: 2.2rem;
  width: 65%;
  outline: none;
  transition: 0.2s;
  border-bottom: 1.5px solid #535050; }

textarea:focus {
  transform: scale(1.05);
  box-shadow: 0 2px 5px #000; }
