.courses{
    padding: 3rem;
    background-color: aqua;

    &_heading{
        font-size: 1.5rem;
        padding: 1rem;
    }

    &_slider{
        display: flex;
        overflow-x: scroll;  
    }
}

.image_wrap{
    width: auto;
    height: auto;
    margin: 0.5rem;

    &-img{
        width: 20rem;
        height: 20rem;
    }
}

