.footer{
    background-color: $color-secondary-dark;
    height: auto;
    font-size: 1.4rem;
    padding: 2.5rem;
    display: grid;
    // grid-template-columns: repeat(auto-fit,minmax(25.4rem,1fr));
    grid-template-columns: repeat(auto-fit,minmax(25.4rem,1fr));

    grid-template-rows: auto;
    grid-gap: 2rem;
    color: $color-white;

    &_heading{
        padding: 0.5rem;        
    }
    
    &_content{
        padding: 0.5rem;
        margin-top: 1rem;
    }

    &_about{

        &-para{
            margin-top: 1rem;
        }
    }


    &_link:link,
    &_link:visited{
        text-decoration: none;
        font-size: 1.4rem;
        color: inherit;
    }
}

.copyright{
    box-shadow: 1rem 6rem 50rem rgba($color-black,  1);
    padding: 3rem;
    text-align: center;
    color: $color-white;
    font-size: 1.3rem;
    background-image: linear-gradient($color-secondary-dark,$color-secondary,$color-secondary-dark);
}
