.footer{
    background-color: $color-secondary-dark;
    height: auto;
    font-size: 1.6rem;
    padding: 2.5rem 5rem;
    // display: grid;
    // grid-template-columns: repeat(auto-fit,minmax(25.4rem,1fr));
    // grid-template-columns: repeat(auto-fit,minmax(25.4rem,1fr));
    font-family: 'Roboto', sans-serif;

    // grid-template-rows: auto;
    // grid-gap: 5rem;
    color: $color-white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &_heading{
        padding: 0.5rem;        
    }
    
    &_content{
        padding: 0.5rem;
        margin-top: 1rem;
    }

    &_about{
        flex: 0 0 50%;

        &-para{
            margin-top: 1rem;
            line-height: 1.8;
        }
    }


    &_link:link,
    &_link:visited{
        text-decoration: none;
        font-size: 1.4rem;
        color: inherit;
    }
}

.copyright{
    box-shadow: 1rem 6rem 50rem rgba($color-black,  1);
    padding: 3rem;
    text-align: center;
    color: $color-white;
    font-size: 1.4rem;
    background-image: linear-gradient($color-secondary-dark,$color-secondary,$color-secondary-dark);

    position: relative;

    a{  
        text-decoration: none;
        color: $color-white;
        position: absolute;
        top: -1rem;
        right: 5rem;
        box-shadow: 0 0 2rem black;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s;

        &:hover{
            transform: rotate(360deg);
        }
    }
}
