.header-top{
    background-color: $color-secondary-dark;
    font-size: 1.6rem;
    padding: 0.8rem 4rem;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width:800px){
        padding: 0.8rem 1rem;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            list-style: none;
            color: $color-white;

            // &:not(:last-child){
            //     border-right: 1px solid $color-white;
            // }

            a{
                text-decoration: none;
                color: $color-white;
                padding: 2rem;

                @media only screen and (max-width:650px){
                    padding:0 2rem;
                }

                i{
                    color: $color-primary-dark;
                }
            }
        }
    }
}