*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html{
    font-size: 62.5%;
    
}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main_body{
    // width: 75%;
    height: auto;
    // margin: 1rem auto;
    // box-shadow: 0 4rem 50rem rgba(#000000,  1);
}